/* COLOURS

    Background: #f7f8fc
    Text: #1d2641
    1: #b8336a
    2: #c490d1
    3: #acacde
    4: #abdafc
    5: #e5fcff

*/

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
}

.body {
    font-family: 'Roboto', sans-serif !important;
    max-width: 100%;
    overflow-x: hidden !important;
}

.container  {
    margin-top: 50px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
}

.container-2 {
    height: 450px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    
}

.current {
    font-weight: 700 !important;
    color: #b8336a !important;
}

.wrapper {
    text-align: center;
    margin-top: 120px;
    margin-bottom: 50px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.wrapper-2 {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    padding: 25px;
    border-radius: 6px;
}

.transparent-header {
    color: rgba(255, 255, 255, 0.377) !important;
}

/* ICONS */

ion-icon {
    color: #b8336a;
    margin: 8px 0px 0px 5px;
}

/* NAVBAR */

.custom-light a {
    color: #1d2641 !important;
}

.custom-light a:hover {
    font-weight: 500;
    color: #b8336a !important;
}

.custom-dark a {
    color: #e5fcff !important;
}

.custom-dark a:hover {
    font-weight: 500;
    color: #f7f8fc !important;
}

.navbar {
    z-index: 999;
    height: 66px;
    background-color: transparent;
}

.collapse {
    z-index: 999;
}

.navbar a{  
    font-size: 16px;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 500;
}



li {
    margin: 0px 20px;
    font-size: 14px;
    font-weight: 400;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: 0.2px solid #bcbfc821;
    background-color: #f7f8fc !important;
    z-index: 999;
    box-shadow: 0 0 10px 0 #00000049;
}

.navbar-fixed-top.scrolled {
    background-color: #fff !important;
    transition: background-color 200ms linear;
}

/* HEADER */

.header {
    margin-top: 140px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #fff !important;
}

/* BUTTONS */

.btn-wrapper {
    text-align: center;
}

.btn {
    padding: 10px 40px;
    border-radius: 6px;
    margin: 0px auto;
    font-size: 16px;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
}

.btn-primary {
    background-color: #b8336a;
    border: none;
    padding: 5px 15px;

}

.glow-button:hover {
    background-color: #b8336a;
    box-shadow: 0 5px 15px #c490d1;
}

.light-button {
    background-color: #f7f8fc;
    border-radius: 30px;
    padding: 10px 30px;
    margin: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.288);
}

.light-button-2 {
    color: #FFF;
    font-size: 18px;
}
.light-button-2:hover {
    font-weight: 700;
    text-decoration: underline;
    color: #fff;
}

.glow-light-button:hover {
    background-color: #f7f8fc;
    box-shadow: 0 5px 15px #f7f8fc;
}

/* Descriptions */
.description {
    margin: 0 40px;
    overflow: hidden;
    color: #1d2641;
    text-align: center;
}

.primary-description {
    color: #1d2641;
    font-size: 3.5rem !important;
    line-height: 1.2;
    font-weight: 700;
    text-align: center;
}

.secondary-description {
    color: #555;
    font-family: sans-serif;
    font-size: 25px;
    font-weight: 100;
    line-height: 1.2;
    letter-spacing: 0.5px;
    margin: 10px auto;
    text-align: center;
}


.tertiary-description {
    color: #555;
    font-size: 0.8rem;
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

.white-description {
    font-size: 35px;
    color: #fff;
    font-weight: 700;
}

/* FORMS */

.custom-file-input {
    background-color: #b8336a;
}

/* Cards */

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin: 10px !important;
    text-align: center;
    justify-content: space-between;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Waves */

section{
    top: -66px;
    position: relative;
    width: 100%;
    height: 100vh;
    background: #b8336a;
    overflow-x: hidden;
}
   
section .wave{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: url("{% static 'img/wave.png' %}");
    background-size: 1000px 100px;
}
   
section .wave.wave1{
    animation: animate 30s linear infinite;
    z-index: 1000px;
    opacity: 1;
    animation-delay: 0s;
    bottom: 0;
}
   
section .wave.wave2{
    animation: animate2 15s linear infinite;
    z-index: 999px;
    opacity: 0.5;
    animation-delay: -5s;
    bottom: 10px;
}

section .wave.wave3{
    animation: animate 30s linear infinite;
    z-index: 998px;
    opacity: 0.2;
    animation-delay: -5s;
    bottom: 10px;
}

section .wave.wave4{
    animation: animate2 2s linear infinite;
    z-index: 997px;
    opacity: 0.7;
    animation-delay: -5s;
    bottom: 20px;
}

@keyframes animate{
   0%{
    background-position-x: 0;
   }
   100%{
    background-position-x: 1000px;
   }
}

@keyframes animate2{
   0%{
    background-position-x: 0;
   }
   100%{
    background-position-x: -1000px;
   }
}

/* GRIDS */

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    overflow: hidden;
    border-radius: 6px;
    margin: 20px 20px;
    padding: 30px 0px;
}

.grid-element {
    width: 25%;
    margin: 10px;
    padding: 30px;
    letter-spacing: 1px;
    border-radius: 5px;
    border: none;
    border: 1px solid #b8336a;
}


.grid-primary {
    color: #000;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 4px;
    letter-spacing: 2px;
}

.grid-secondary {
    color: #bcbfc8;
    font-size: 15px;
    font-weight: 300;
    margin-top: 12px;
}

/* Login Sign Up */

label {
    color: black;
    font-weight: 600;
    font-size: 0.85em;
}
  
input:focus {
    outline: none;
}
  
.form {
    display: flex;
    width: auto;
    background: #fff;
    margin: 15px;
    padding: 25px;
    border-radius: 25px;
    box-shadow: 0px 10px 25px 5px #0000000f;
}
  
.sign-in-section {
    padding: 30px;
}
  
.sign-in-section h6 {
    margin-top: 0px;
    font-size: 0.75em;
}
  
.sign-in-section h1 {
    text-align: center;
    font-weight: 700;
    position: relative;
}
  
.sign-in-section h1:after {
    position: absolute;
    content: "";
    height: 5px;
    bottom: -15px;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 40px;
    background: #b8336a;
    background: -webkit-linear-gradient(to right, #c490d1, #b8336a);
    background: linear-gradient(to right, #c490d1, #b8336a);
    -o-transition: 0.25s;
    -ms-transition: 0.25s;
    -moz-transition: 0.25s;
    -webkit-transition: 0.25s;
    transition: 0.25s;
}

.sign-in-section h1:hover:after {
    width: 100px;
}
  
.sign-in-section ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}
  
.sign-in-section ul > li {
    display: inline-block;
    padding: 10px;
    font-size: 15px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
    box-shadow: 0px 3px 1px #0000000f;
    border: 1px solid #e2e2e2;
}
  
.sign-in-section p {
    text-align: center;
    font-size: 0.85em;
}
  
.form-field {
    display: block;
    width: 300px;
    margin: 10px auto;
}
  
.form-field label {
    display: block;
    margin-bottom: 10px;
}
  
.form-field input[type="email"],
input[type="password"], input[type="name"], input[type="username"] {
    width: -webkit-fill-available;
    padding: 5px 15px;
    border-radius: 10px;
    border: 1px solid #e8e8e8;
}
  
.form-field input::placeholder {
    color: #e8e8e8;
}
  
.form-field input:focus {
    border: 1px solid #b8336a;
}
  
.form-field input[type="checkbox"] {
    display: inline-block;
}
  
.form-options {
    display: block;
    margin: auto;
    width: 300px;
}
  
.checkbox-field {
    display: inline-block;
    float: left;
}
  
.form-options a {
    float: right;
    text-decoration: none;
}
  
.btn-2 {
    padding: 15px;
    font-size: 1em;
    width: 100%;
    border-radius: 25px;
    border: none;
    margin: 20px 0px;
}

.btn-signin {
    cursor: pointer;
    background: #b8336a;
    background: -webkit-linear-gradient(to right, #c490d1, #b8336a);
    background: linear-gradient(to right, #c490d1, #b8336a);
    box-shadow: 0px 5px 15px 5px #840fe440;
    color: #fff;
}
  
.links a:nth-child(1) {
    float: left;
}

.links a:nth-child(2) {
    float: right;
}

.shadow-card {
    box-shadow: 5px 10px 10px 5px #00000049;
}

/* SIDEBAR */

.profile {
  margin: 30px auto;
  border-radius: 50%;
}

.sidebar {
  margin: 10px;
  border-radius: 5px;
  padding: 0;
  width: 200px;
  background-color: #b8336a;
  position: fixed;
  height: 80%;
  overflow: auto;
  top: 66px;
  text-align: center;
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: #ffffffb7 !important;
  padding: 16px;
  text-decoration: none;
}

.sidebar p {
  color: #fff;
}
/* Active/current link */
.sidebar a.active {
  background-color: #f7f8fc;
  font-weight: 500;
  color: #b8336a !important;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: #acacde63;
  font-weight: 500;
  color: #fff !important;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 80%;
    height: auto;
    position: relative;
    top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 10px;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
    
  }
}

/* CONTENTS */

.content {
    margin: 0 30px;
    padding: 30px !important;
}

.products-found {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product-name {
    text-align: center;
    display: flex;
    justify-content: center;
}

.product-name a {
    color: #b8336a;
    font-size: 20px !important;
    font-weight: 500;
}

/* Recommendations */

.colour-select {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
}

.rec-colors {
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 50%;
    margin: 20px;
}

.rec-colors:hover {
    border: 5px solid #fff;
}

.rec-colors:focus {
    border: 5px solid #fff;
    outline: none;
}

.info-message {
    text-align: center;
    margin: 0 auto;
    font-size: 17px;
    font-weight: 700;
}

/* Features */

.circle {
    height: 75px;
    width: 75px;
    /* box-shadow: 0 9px 30px -6px #f746393a; */
    border-radius: 50%;
    display: inline-block;
    margin: 1.5em auto;
    align-items: center;

  }
  
  .feature i,
  .feature ion-icon,
  .feature .iconify {
    margin: auto;
    height: 100%;
    width: 50%;
    font-size: 50px;
  }
  
  .feature {
    margin: auto;
    padding: 10px 0;
  }
  
  .feature h3 {
    color: #2c2c2c;
    padding: 0 15px;
    font-size: 1.5em;
  }
  
  .green i,
  .green ion-icon,
  .green .iconify {
    color: #18ce0f;
  }
  
  .green .circle {
    box-shadow: 0 9px 30px -6px rgba(24, 206, 15, 0.3);
  }
  
  .green:hover .circle {
    transform: translateY(-10px);
    box-shadow: 0 15px 35px 0 rgba(24, 206, 15, 0.35);
  }
  
  .green:hover h3 {
    color: #18ce0f;
  }
  
  .blue i,
  .blue ion-icon,
  .blue .iconify {
    color: #2ca8ff;
  }
  
  .blue .circle {
    box-shadow: 0 9px 30px -6px rgba(44, 168, 255, 0.3);
  }
  
  .blue:hover .circle {
    transform: translateY(-10px);
    box-shadow: 0 15px 35px 0 rgba(44, 168, 255, 0.35);
  }
  
  .blue:hover h3 {
    color: #2ca8ff;
  }
  
  .yellow i,
  .yellow ion-icon,
  .yellow .iconify {
    color: #ffb236;
  }
  
  .yellow .circle {
    box-shadow: 0 9px 30px -6px #ffb2369f;
  }
  
  .yellow:hover .circle {
    transform: translateY(-10px);
    box-shadow: 0 15px 35px 0 #ffb236a6;
  }
  
  .yellow:hover h3 {
    color: #ffb236;
  }
  
  .purple i,
  .purple ion-icon,
  .purple .iconify {
    color: #c760da;
  }
  
  .purple .circle {
    box-shadow: 0 9px 30px -6px #c860da77;
  }
  
  .purple:hover .circle {
    transform: translateY(-10px);
    box-shadow: 0 15px 35px 0 #c760da85;
  }
  
  .purple:hover h3 {
    color: #c760da;
  }
  
  .red i,
  .red ion-icon,
  .red .iconify {
    color: #f96332;
  }
  
  .red .circle {
    box-shadow: 0 9px 30px -6px rgba(249, 99, 50, 0.3);
  }
  
  .red:hover .circle {
    transform: translateY(-10px);
    box-shadow: 0 15px 30px 0 rgba(249, 99, 50, 0.35);
  }
  
  .red:hover h3 {
    color: #f96332;
  }

  /* TRENDING LIST */

  .trending-field {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: baseline;
      margin: 10px;
  }

  .rank {
      font-size: 25px;
      margin: 10px 30px;
  }

  .trending-card {
      padding: 10px 20px;
      border: 0.5px solid #b8336a;
      border-radius: 9px;
  }

  .trending-card a {
      color: #2c2c2c;
  }

  .trending-card a:hover {
      background-color: #b8336a;
      color: #b8336a;
      font-weight: 700;
      text-decoration: none;
  }

  .trending-list {
      display: flex;
      width: 80vw;
      justify-content: space-evenly;
      flex-wrap: wrap;
      margin: 10px auto;
  }

/* Footer */
.main {
	max-height: 550px;;
	background-color: #292c2f;
	color: white;
	font-size: 38pt;
	text-align: center;
	line-height: 550px;
}
footer{
	bottom: 0;
}
.footer-distributed{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
 
	padding: 55px 50px;
	margin-top: 80px;
}
 
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}
 
.footer-distributed .footer-left{
	width: 40%;
}
 
.footer-distributed h3{
	color:  #ffffff;
	margin: 0;
}
 
.footer-distributed h3 span{
	color: #b8336a;
}
 
 
.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}
 
.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}
 
.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}
 
 
.footer-distributed .footer-center{
	width: 35%;
}
 
.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}
 
.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}
 
.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}
 
.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}
 
.footer-distributed .footer-center p a{
	color:  #b8336a;
	text-decoration: none;;
}
 
.footer-distributed .footer-right{
	width: 20%;
}
 
.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}
 
.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}
 
.footer-distributed .footer-icons{
	margin-top: 25px;
}
 
.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;
 
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
 
	margin-right: 3px;
	margin-bottom: 5px;
}
 
 
@media (max-width: 880px) {
 
	.footer-distributed{
		font: bold 14px sans-serif;
	
	}
 
	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}
 
	.footer-distributed .footer-center i{
		margin-left: 0;
	}
	.main {
		line-height: normal;
		font-size: auto;
	}
 
}