{% extends 'base2.html' %}
{% load static %}
{% block content %}
    <div class="sidebar">
        <img class="profile" src="https://demos.creative-tim.com/bs3/material-kit-pro/assets/img/placeholder.jpg" alt="" height="80" width="80">
        {% if user.is_authenticated %}
            <p>Welcome, {{user.first_name | title}}!</p>
        {% else %}
            <p>Welcome, Stranger!</p>
        {% endif %}
        <a href="#" class="active">Recently Searched</a>
        
        {% if user.customer.favourite_color == 'red' %}
        <a href="{% url 'Dashboard:red' %}" class="">Recommendations</a>
        {% elif user.customer.favourite_color == 'blue' %}
        <a href="{% url 'Dashboard:blue' %}" class="">Recommendations</a>
        {% elif user.customer.favourite_color == 'green' %}
        <a href="{% url 'Dashboard:green' %}" class="">Recommendations</a>
        {% elif user.customer.favourite_color == 'black' %}
        <a href="{% url 'Dashboard:black' %}" class="">Recommendations</a>
        {% elif user.customer.favourite_color == 'white' %}
        <a href="{% url 'Dashboard:white' %}" class="">Recommendations</a>
        {% elif user.customer.favourite_color == 'yellow' %}
        <a href="{% url 'Dashboard:yellow' %}" class="">Recommendations</a>
        {%endif%}

        <a href="{% url 'Dashboard:sugessions' %}" class="">Suggestions</a>
    </div>

    <div class="content">
        <h2>Recent Searches</h2>
        <hr>
        <div class="product-name">
            <a href="#">
                {{search1 | title}}
                <ion-icon name="arrow-forward-circle-outline"></ion-icon>
            </a>

        </div>
        {% if not user.is_authenticated %}
            <h2>Login To View Dashboard</h2>
        {% else %}

        <div class="products-found">
            <!-- Insert product cards here! -->
            {% if listings1 %}
            {% for post in listings1 %}
            <div class="card" style="width: 18rem">
                <img src="{{ post.2 }}" alt="" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">{{post.0}}</h5>
                    <div class="container">
                        <h5>{{ post.1 }}</h5>
                        <a href="{{ post.3 }}" class="btn btn-primary glow-button">Visit Store</a>
                    </div>

                </div>
            </div>
            {% endfor %}
            {% endif %}
        </div>

        <br>
        <div class="product-name">
            <a href="#">
                {{search2 | title}}
                <ion-icon name="arrow-forward-circle-outline"></ion-icon>
            </a>
        </div>
        <div class="products-found">
            <!-- Insert product cards here! -->
            {% if listings2 %}
            {% for post in listings2 %}
            <div class="card" style="width: 18rem">
                <img src="{{ post.2 }}" alt="" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">{{post.0}}</h5>
                    <div class="container">
                        <h5>{{ post.1 }}</h5>
                        <a href="{{ post.3 }}" class="btn btn-primary glow-button">Visit Store</a>
                    </div>

                </div>
            </div>
            {% endfor %}
            {% endif %}
        </div>

        <br>
        <div class="product-name">
            <a href="#">
                {{search3 | title}}
                <ion-icon name="arrow-forward-circle-outline"></ion-icon>
            </a>
        </div>
        <div class="products-found">
            <!-- Insert product cards here! -->
            {% if listings2 %}
            {% for post in listings3 %}
            <div class="card" style="width: 18rem">
                <img src="{{ post.2 }}" alt="" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">{{post.0}}</h5>
                    <div class="container">
                        <h5>{{ post.1 }}</h5>
                        <a href="{{ post.3 }}" class="btn btn-primary glow-button">Visit Store</a>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% endif %}
        </div>
    {% endif %}

{% endblock %}
