{% extends 'base2.html' %}
{% load static %}
{% block content %}
    <div class="sidebar">
        <img class="profile" src="https://demos.creative-tim.com/bs3/material-kit-pro/assets/img/placeholder.jpg" alt="" height="80" width="80">
        {% if user.is_authenticated %}
            <p>Welcome, {{user.first_name | title}}!</p>
        {% else %}
            <p>Welcome, Stranger!</p>
        {% endif %}
        <a href="{% url 'Dashboard:dashboard' %}" class="">Recently Searched</a>
        <a href="#" class="active">Recommendations</a>
        <a href="{% url 'Dashboard:sugessions' %}" class="">Suggestions</a>
    </div>

    {% if not user.is_authenticated %}
    <div class="content">
        <h2>Please Login to get Recommendations</h2>
    </div>
    {% else %}

    <div class="content">
        <h2>You might also like!</h2>
        <hr>
        <div class="info-message">
            We Know Your Choice Of Clothing is {{search | title}}. Choose Your Color.
        </div>
        <div class="colour-select">
            <a href="{% url 'Dashboard:yellow' %}"><button class="rec-colors" style="background-color: yellow;"></button></a>
            <a href="{% url 'Dashboard:red' %}"><button class="rec-colors" style="background-color: red;"></button></a>
            <a href="{% url 'Dashboard:green' %}"><button class="rec-colors" style="background-color: greenyellow;"></button></a>
            <a href="{% url 'Dashboard:white' %}"><button class="rec-colors" style="background-color:white; border-style: solid; border-width: thin; border-color: black;"></button></a>
            <a href="{% url 'Dashboard:blue' %}"><button class="rec-colors" style="background-color: blue;"></button></a>
            <a href="{% url 'Dashboard:black' %}"><button class="rec-colors" style="background-color: black;"></button></a>
            <ion-icon name="sync-circle-outline" size="large" style="margin-top: 10px;"></ion-icon>
        </div>
        <hr>
        <div class="products-found">
            <!-- Insert product cards here! -->
            {% if listings %}
            {% for post in listings %}
            <div class="card" style="width: 18rem">
                <img src="{{ post.2 }}" alt="" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">{{post.0}}</h5>
                    <div class="container">
                        <h5>{{ post.1 }}</h5>
                        <a href="{{ post.3 }}" class="btn btn-primary glow-button">Visit Store</a>
                    </div>

                </div>
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
    {% endif %}
{% endblock %}
