{% extends 'base2.html' %}
{% load static %}
{% block content %}
    <div class="sidebar">
        <img class="profile" src="{% static 'img/defualt.png' %}" alt="" height="80" width="80">
        {% if user.is_authenticated %}
            <p>Welcome, {{user.first_name}}!</p>
        {% else %}
            <p>Welcome, Stranger!</p>
        {% endif %}
        <a href="#" class="active">Recently Searched</a>
        {% if user.customer.favourite_item == 'shirt' %}
        <a href="{% url 'Dashboard:shirt' %}" class="">Recommendations</a>
        {% elif user.customer.favourite_item == 'jeans' %}
        <a href="{% url 'Dashboard:jeans' %}" class="">Recommendations</a>
        {% elif user.customer.favourite_item == 'trousers' %}
        <a href="{% url 'Dashboard:trousers' %}" class="">Recommendations</a>
        {% elif user.customer.favourite_item == 'shorts' %}
        <a href="{% url 'Dashboard:shorts' %}" class="">Recommendations</a>
        {% elif user.customer.favourite_item == 'shoes' %}
        <a href="{% url 'Dashboard:shoes' %}" class="">Recommendations</a>
        {% elif user.customer.favourite_item == 'tee' %}
        <a href="{% url 'Dashboard:tee' %}" class="">Recommendations</a>
        {%endif%}

        <a href="#" class="">Edit Profile</a>
    </div>

    <div class="content">
        <h2>Recent Searches</h2>
        <hr>
        <div class="product-name">
            <a href="#">
                {{search1}}
                <ion-icon name="arrow-forward-circle-outline"></ion-icon>
            </a>

        </div>
        {% if not user.is_authenticated %}
            <h2>Login To View Dashboard</h2>
        {% else %}

        <div class="products-found">
            <!-- Insert product cards here! -->
            {% if listings1 %}
            {% for post in listings1 %}
            <div class="card" style="width: 18rem">
                <img src="{{ post.2 }}" alt="" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">{{post.0}}</h5>
                    <div class="container">
                        <h5>{{ post.1 }}</h5>
                        <a href="{{ post.3 }}" class="btn btn-primary glow-button">Visit Store</a>
                    </div>

                </div>
            </div>
            {% endfor %}
            {% endif %}
        </div>

        <br>
        <div class="product-name">
            <a href="#">
                {{search2}}
                <ion-icon name="arrow-forward-circle-outline"></ion-icon>
            </a>
        </div>
        <div class="products-found">
            <!-- Insert product cards here! -->
            {% if listings2 %}
            {% for post in listings2 %}
            <div class="card" style="width: 18rem">
                <img src="{{ post.2 }}" alt="" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">{{post.0}}</h5>
                    <div class="container">
                        <h5>{{ post.1 }}</h5>
                        <a href="{{ post.3 }}" class="btn btn-primary glow-button">Visit Store</a>
                    </div>

                </div>
            </div>
            {% endfor %}
            {% endif %}
        </div>

        <br>
        <div class="product-name">
            <a href="#">
                {{search3}}
                <ion-icon name="arrow-forward-circle-outline"></ion-icon>
            </a>
        </div>
        <div class="products-found">
            <!-- Insert product cards here! -->
            {% if listings2 %}
            {% for post in listings3 %}
            <div class="card" style="width: 18rem">
                <img src="{{ post.2 }}" alt="" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">{{post.0}}</h5>
                    <div class="container">
                        <h5>{{ post.1 }}</h5>
                        <a href="{{ post.3 }}" class="btn btn-primary glow-button">Visit Store</a>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% endif %}
        </div>
    {% endif %}

{% endblock %}
